<div class="p-1">
    <!-- Operation Buttons -->
    <div class="d-flex gap-2 col-2 ">
        <button class="btn w-50" [ngClass]="{'btn-success': mode === 'add', 'btn-danger': mode !== 'add'}"
            (click)="setMode('add')">Add</button>
        <button class="btn  w-50" [ngClass]="{'btn-success': mode === 'view', 'btn-danger': mode !== 'view'}"
            (click)="setMode('view')">View</button>
    </div>
    <!-- Form for Add/Edit -->
    <div *ngIf="mode === 'add'">
        <div class="mt-4 border border-1 border-black p-3 bg-success-subtle">
            <!-- style="height: calc(100vh - 180px);" -->
            <!-- <h4 class="text-white p-2 rounded" style="background-color: teal;">
                Upload Layer Zip File
            </h4>
            <hr> -->
            <div class="w-50">
                <form [formGroup]="layerForm">
                    <!-- <div class="mb-3 text-center text-danger">
                    <span><strong>Location Name: India</strong></span>
                </div> -->
                    <div class="mb-3">
                        <label class="form-label">Group Name</label>
                        <select class="form-select">
                            <option value="" selected>-Select-</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="layerName" class="form-label">Table Name</label>
                        <select class="form-select">
                            <option value="" selected>-Select-</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="layerZipFile" class="form-label">Layer Name</label>
                        <input type="text" class="form-control" (change)="onLayerFileSelected($event)"
                            id="layerZipFile">
                    </div>
                    <div class="mb-3">
                        <label for="layerName" class="form-label">Add Style</label>
                        <div class="row">
                            <div class="col-8">
                                <select class="form-select">
                                    <option value="" selected>-Select-</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <button routerLink="/shared/dashboard/style" class="btn btn-primary">Create new
                                    style</button>
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-success w-25" [disabled]="layerForm.invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- List for View/Delete -->
    <div *ngIf="mode === 'view'" class="table-responsive mt-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Layer Name</th>
                    <!-- <th>Style</th> -->
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Demographic Layer</td>
                    <td>Road Layer</td>
                    <!-- <td> <a routerLink="/shared/dashboard/style">add style</a> </td> -->
                    <td>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary">Publish</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Demographic Layer</td>
                    <td>Road Layer</td>
                    <!-- <td> <a routerLink="/shared/dashboard/style">add style</a> </td> -->
                    <td>
                        <div class="d-flex gap-2 justify-content-around">
                            <div class="d-flex align-items-center">
                                <span class="text-success">Published</span>
                            </div>
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let layer of layers">
                    <td>{{layer.name}}</td>
                    <td>{{layer.name}}</td>
                    <td>{{layer.name}}</td>
                    <td>
                        <div *ngIf="layer.published" class="d-flex justify-content-center">
                            <button class="btn btn-primary" (click)="publishLayer(layer.id)">Publish</button>
                        </div>
                        <div *ngIf="!layer.published" class="d-flex gap-2 justify-content-around">
                            <div class="d-flex align-items-center">
                                <span class="text-success">Published</span>
                            </div>
                            <button class="btn btn-danger" (click)="deleteLayer(layer.id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>