<div class="container form-control mt-2">
    <form [formGroup]="styleForm">
        <!-- <div class="row mt-4">
            <label class="col-sm-2 col-form-label">Group Name : </label>
            <div class="col-sm-4">
                <select formControlName="group_name" class="form-control">
                    <option value="">--choose--</option>
                    <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
                </select>
            </div>
        </div> -->
        <!-- <div class="row mt-2">
            <label class="col-sm-2 col-form-label">Layer Name : </label>
            <div class="col-sm-4">
                <select name="layer_name" id="layer_name">
                    <option value="">--choose--</option>
                    <option *ngFor="let layer of layers" [value]="layer.layer_name">{{layer.layer_name}}</option>
                </select>
            </div>
        </div> -->

        <div class="row mt-2">
            <label class="col-sm-2 col-form-label">Layer Name :</label>
            <div class="col-sm-4">
                <select formControlName="layer_name" class="form-control" name="layer_name"
                    (change)="onLayerSelect($event)">

                    <option value="">--choose--</option>
                    <option *ngFor="let layer of layers" [value]="layer.layer_name">{{ layer.layer_name }}</option>
                </select>
            </div>
        </div>

        <div class="row mt-2">
            <label class="col-sm-2 col-form-label">Style Name :</label>
            <div class="col-sm-4">
                <input formControlName="style_name" type="text" class="form-control" />
            </div>
        </div>


        <div class="row mt-2">
            <label class="col-sm-2 col-form-label">Vector Type : </label>
            <div class="col-sm-4">
                <!-- <span class="form-control" formControlName="vectorTyPe">{{vectorTyPe}}</span> -->
                <input type="text" class="form-control" formControlName="vectorTyPe" readonly>
            </div>
        </div>
        <div *ngIf="vectorType === 'Polygon'">
            <div class="row mt-2">
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="stroke" />
                        <label class="form-check-label">Stroke</label>
                    </div>
                </div>
                <div class="col-md-4" [ngClass]="{'d-none': !styleForm.get('stroke')?.value}">
                    <label>Colors : </label>
                    <input formControlName="stroke_color" type="color" class="form-control" />
                </div>
                <label class="col-sm-2 col-form-label" [ngClass]="{'d-none': !styleForm.get('stroke')?.value}">Width :
                </label>
                <div class="col" [ngClass]="{'d-none': !styleForm.get('stroke')?.value}">
                    <input formControlName="stroke_width" type="number" class="form-control" min="1" max="10" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="fill" />
                        <label class="form-check-label">Fill</label>
                    </div>
                </div>
                <div class="col-md-4" [ngClass]="{'d-none': !styleForm.get('fill')?.value}">
                    <label>Colors : </label>
                    <input formControlName="fill_color" type="color" class="form-control" />
                </div>
                <label class="col-sm-2 col-form-label" [ngClass]="{'d-none': !styleForm.get('fill')?.value}">Opacity :
                </label>
                <div class="col" [ngClass]="{'d-none': !styleForm.get('fill')?.value}">
                    <input formControlName="fill_opacity" type="number" class="form-control" min="0" max="1"
                        step="0.1" />
                </div>
            </div>
        </div>

        <div *ngIf="vectorType === 'Line'">
            <div class="row mt-2">
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="stroke" />
                        <label class="form-check-label">Stroke</label>
                    </div>
                </div>
                <div class="col-md-4" [ngClass]="{'d-none': !styleForm.get('stroke')?.value}">
                    <label>Colors : </label>
                    <input formControlName="stroke_color" type="color" class="form-control" />
                </div>
                <label class="col-sm-2 col-form-label" [ngClass]="{'d-none': !styleForm.get('stroke')?.value}">Width :
                </label>
                <div class="col" [ngClass]="{'d-none': !styleForm.get('stroke')?.value}">
                    <input formControlName="stroke_width" type="number" class="form-control" min="1" max="10" />
                </div>
            </div>
        </div>

        <div *ngIf="vectorType === 'Point'">
            <div class="row mt-2">
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="stroke" />
                        <label class="form-check-label">Stroke</label>
                    </div>
                </div>
                <div class="col-md-4" [ngClass]="{'d-none': !styleForm.get('stroke')?.value}">
                    <label>Colors : </label>
                    <input formControlName="stroke_color" type="color" class="form-control" />
                </div>
                <label class="col-sm-2 col-form-label" [ngClass]="{'d-none': !styleForm.get('stroke')?.value}">Width :
                </label>
                <div class="col" [ngClass]="{'d-none': !styleForm.get('stroke')?.value}">
                    <input formControlName="stroke_width" type="number" class="form-control" min="1" max="10" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="fill" />
                        <label class="form-check-label">Fill</label>
                    </div>
                </div>
                <div class="col-md-4" [ngClass]="{'d-none': !styleForm.get('fill')?.value}">
                    <label>Colors : </label>
                    <input formControlName="fill_color" type="color" class="form-control" />
                </div>
                <label class="col-sm-2 col-form-label" [ngClass]="{'d-none': !styleForm.get('fill')?.value}">Opacity :
                </label>
                <div class="col" [ngClass]="{'d-none': !styleForm.get('fill')?.value}">
                    <input formControlName="fill_opacity" type="number" class="form-control" min="0" max="1"
                        step="0.1" />
                </div>
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="labelling" />
                    <label class="form-check-label">Labelling</label>
                </div>
            </div>

            <label class="col-sm-2 col-form-label" [ngClass]="{'d-none': !styleForm.get('labelling')?.value}">Field
                Name:</label>
            <div class="col-sm-4" [ngClass]="{'d-none': !styleForm.get('labelling')?.value}">
                <select formControlName="label_field" class="form-control">
                    <option value="">--choose--</option>
                    <option *ngFor="let column of columns" [value]="column">{{ column }}</option>
                </select>
            </div>

            <div class="col-sm-2" [ngClass]="{'d-none': !styleForm.get('labelling')?.value}">
                <label for="">Label color</label>
                <input formControlName="label_color" type="color" class="form-control" />
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-md-4 control-label">
                <div class="text-center" style="margin-top: 50px; margin-left: 300px">
                    <button class="btn btn-success" type="button" (click)="generateSld()">Submit</button>
                </div>
            </div>
        </div>
        <!-- <div class="row mt-2">
            <div class="col">
                <pre>{{ generatedSld }}</pre>
            </div>
        </div> -->
    </form>
</div>